<html>
<head>
 <link rel="stylesheet" type="text/css" href="app/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="app/css/login.css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <!-- <h1 class="text-center login-title">Sign in to continue to Bootsnipp</h1> -->
            <div class="account-wall">
                <img class="profile-img" src="http://h3u.com/assets/imgs/h3ulogo.png"
                    alt="">
                <form class="form-signin">
                 <input type="text" class="form-control" placeholder="GRP Code" required autofocus>
                <input type="text" class="form-control" placeholder="Login Id" required autofocus>
                <input type="password" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign in</button>
                <!-- <label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    Remember me
                </label> -->
                <a href="#" class="pull-right need-help">Forgot Password? </a><span class="clearfix"></span>
                </form>
            </div>
            <!-- <a href="#" class="text-center new-account">Create an account </a> -->
        </div>
    </div>
</div>

   <!--  <md-content ng-app="LoginForm" ng-controller="Ctrl" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
      <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2><span>Login Form</span></h2>
          </div>
        </md-toolbar>
        <md-card-content>
          <form name="Form">
            <md-input-container class="md-block">
              <label>Login</label>
              <input type="text" name="email" ng-model="vm.formData.email" placeholder="login" required=""/>
              <div ng-messages="Form.email.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter your email.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Password</label>
              <input type="password" name="password" ng-model="vm.formData.password" placeholder="password" required="" md-maxlength="16"/>
              <div ng-messages="Form.password.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter your password.</div>
                <div ng-message="md-maxlength" class="my-message">Too long.</div>
              </div>
            </md-input-container>
            <md-button ng-disabled="!Form.$valid" ng-click="vm.submit()" class="md-raised md-primary">&nbsp Login &nbsp</md-button>
          </form>
        </md-card-content>
      </md-card>
    </md-content> -->
    <!-- Angular Material Dependencies-->
  

<script type="text/javascript" scr="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
<!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-messages.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<script src="http://cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>
<script src="app/js/controllers/login.js"></script> -->